<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Users</title>
  </head>
  <body>
    <h1>Baking Contest Users</h1>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Phone Number</th>
        <th>Security Level</th>
        <th>Username</th>
        <th>Password</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user['Name'] }}</td>
        <td>{{ user['Age'] }}</td>
        <td>{{ user['PhNum'] }}</td>
        <td>{{ user['SecurityLevel'] }}</td>
        <td>{{ user['Username'] }}</td>
        <td>{{ user['LoginPassword'] }}</td>
      </tr>
      {% endfor %}
    </table>
    <ul>
      <li>
        <a href="{{ url_for('home') }}">Go back to Home</a>
      </li>
      <li>
        <a href="{{ url_for('logout') }}">Logout</a>
      </li>
    </ul>
  </body>
</html>
