<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Baking Contest User</title>
  </head>
  <body>
    <h1>Add a New Baking Contest User</h1>
    <form method="POST">
      <label>Name:</label><br />
      <input type="text" name="name"/><br />
      <label>Age:</label><br />
      <input type="text" name="age"/><br />
      <label>Phone Number:</label><br />
      <input type="text" name="phone_number"/><br />
      <label>Security Level:</label><br />
      <input type="text" name="security_level"/><br />
      <label>Login Password:</label><br />
      <input type="password" name="login_password"/><br />
      <button type="submit">Submit</button><br />
    </form>
    <a href="{{ url_for('home') }}">Go back to Home</a>
  </body>
</html>
